* {
    box-sizing: border-box;
    margin: 0%;
}

.none { 
    display: none;
}

.block {
    display: block;
}

.icon {
    background-size: cover;
    height: 30px;
    width: 30px;
}



/* removes scrollbar on details images */
::-webkit-scrollbar {
    width: 0px;
    
}

::-webkit-scrollbar-track {
    background: transparent;
}