* {
  margin: 0;
  padding: 0;
}
body {
  /* background-image: url(https://developer.tomtom.com/sites/all/themes/tomtom/images/transparent-roads.svg); */
  background-size: cover;
  font-size: 1.3em;
  font-weight: bold;
  height: 50vh;
  width: 100vw;
  overflow: hidden;
}
