@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap");

body {
  margin: 0;
  background: rgba(0, 0, 0, 0.03);
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav a {
  transition: all 0.3s;
  color: black !important;
}
nav a:hover {
  border-bottom: 3px solid #000;
}
