
input[type="search"] {
    width: 450px;
    height: 40px;
    margin: 1.1em;
    border: 1px solid rgba(0,0,0,0.28);
    box-shadow: -4px 6px 35px -14px rgba(0,0,0,0.1);
    background-color: transparent;
    font-size: 15px;
    font-family: sans-serif;
    appearance: none;
    border-radius: 5px;
}
input[type="search"]:focus {
    outline: none;
}

span {
    margin: 0em 4em 0em .7em;
    text-transform: uppercase;
}