input[type="search"] {
    width: 450px;
    height: 40px;
    margin: 1.1em;
    border: 1px solid rgba(0,0,0,0.28);
    box-shadow: -4px 6px 35px -14px rgba(0,0,0,0.1);
    background-color: transparent;
    font-size: 15px;
    font-family: sans-serif;
    appearance: none;
    background-color: white;

    border-radius: 5px;
}
input[type="search"]:focus {
    outline: none;
}
.SearchBox {
    background-color: #6C63FF;

}

span {
    margin: 0em 4em 0em .7em;
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.78);
    color: white;
}

a {
    text-decoration: none;
    color: white;
}
@media screen and (max-width: 500px) {
    span {
        font-size: 1em;
    }
    input[type="search"] {
        width: 80%;
    }
    .SearchBox {
        display: flex;
        align-items: center;
    }
    a {
    }
}