.ViewResturants {
  display: flex;
  height: 100vh;
  color: white;
  overflow: hidden;
}
.main {
  width: 100%;
  color: black;
  height: 100%;
  overflow-y: scroll;
}
.card {
  display: flex;
  margin: 1em;
}
.card-body {
  margin-left: 0.7em;
  font-size: 1em;
}
.side-nav {
  height: 100vh;
  background-color: #6c63ff;
  padding: 1em;
}
.side-nav button {
  width: 150px;
  height: 30px;
  border: none;
  margin: 1.2em 0;
  font-size: 1.1em;
  border-radius: 2px;
  color: black;
}
.side-nav button:hover {
  cursor: pointer;
  color: blue;
}

input[type="number"] {
  outline: none;
  height: 20px;
  background-color: white;
}

@media screen and (max-width: 500px) {
  .ViewResturants {
    display: block;
    overflow: hidden;
  }
  .side-nav {
    margin: 0px;
    height: 15vh;
  }
  p {
    margin: 0.5em 0px;
  }
  .main {
    height: 70vh;
  }

  .side-nav button {
    width: 150px;
    height: 30px;
    border-radius: 4px;
    margin: 0.4em 0;
    font-size: 1em;
  }
  .side-nav h2 {
    margin: 0px;
    font-size: 1.2em;
  }
}
